<div class="container">
  <h2>Users</h2>
  <form (ngSubmit)="viewModel.addUser()">
    <input [(ngModel)]="viewModel.newUser.Name" name="name" placeholder="Name" required>
    <input [(ngModel)]="viewModel.newUser.Email" name="email" placeholder="Email" required>
    <button type="submit">Add User</button>
  </form>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of viewModel.users$ | async">
      <td>{{ user.ID }}</td>
      <td *ngIf="!viewModel.editingUser || viewModel.editingUser.ID !== user.ID">{{ user.Name }}</td>
      <td *ngIf="!viewModel.editingUser || viewModel.editingUser.ID !== user.ID">{{ user.Email }}</td>
      <td *ngIf="viewModel.editingUser && viewModel.editingUser.ID === user.ID">
        <input [(ngModel)]="viewModel.editingUser.Name" name="editName">
        <input [(ngModel)]="viewModel.editingUser.Email" name="editEmail">
      </td>
      <td>
        <button *ngIf="!viewModel.editingUser || viewModel.editingUser.ID !== user.ID" (click)="viewModel.editUser(user)">Edit</button>
        <button *ngIf="viewModel.editingUser && viewModel.editingUser.ID === user.ID" (click)="viewModel.updateUser()">Save</button>
        <button (click)="viewModel.deleteUser(user.ID)">Delete</button>
      </td>
    </tr>
  </table>
</div>
