<div class="container">
    <h2>Orders</h2>
    <form (ngSubmit)="addOrder()">
      <input [(ngModel)]="newOrder.userId" name="userId" placeholder="User ID" required>
      <input [(ngModel)]="newOrder.amount" name="amount" placeholder="Amount" required>
      <input [(ngModel)]="newOrder.status" name="status" placeholder="Status" required>
      <button type="submit">Add Order</button>
    </form>
  
    <table>
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td *ngIf="editingOrder?.id !== order?.id">{{ order?.userId }}</td>
        <td *ngIf="editingOrder?.id !== order?.id">{{ order?.amount }}</td>
        <td *ngIf="editingOrder?.id !== order?.id">{{ order?.status }}</td>
        <td *ngIf="editingOrder?.id === order?.id">
            <input [(ngModel)]="editingOrder!.userId" name="editUserId{{ order.id }}">
            <input [(ngModel)]="editingOrder!.amount" name="editAmount{{ order.id }}">
            <input [(ngModel)]="editingOrder!.status" name="editStatus{{ order.id }}">
          </td>          
        <td>
          <button *ngIf="editingOrder?.id !== order.id" (click)="editOrder(order)">Edit</button>
          <button *ngIf="editingOrder?.id === order.id" (click)="updateOrder()">Save</button>
          <button (click)="deleteOrder(order.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>