<div class="container">
    <h2>Users</h2>
    <form (ngSubmit)="addUser()">
      <input [(ngModel)]="newUser.name" name="name" placeholder="Name" required>
      <input [(ngModel)]="newUser.email" name="email" placeholder="Email" required>
      <button type="submit">Add User</button>
    </form>
  
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td *ngIf="editingUser && editingUser.id !== user.id">{{ user.name }}</td>
        <td *ngIf="editingUser && editingUser.id !== user.id">{{ user.email }}</td>
        <td *ngIf="editingUser && editingUser.id === user.id">
        <input [(ngModel)]="editingUser.name" name="editName">
        <input [(ngModel)]="editingUser.email" name="editEmail">
        </td>
        <td>
          <button *ngIf="editingUser?.id !== user.id" (click)="editUser(user)">Edit</button>
          <button *ngIf="editingUser?.id === user.id" (click)="updateUser()">Save</button>
          <button (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  